/* General Styles */

body{
  /* height: 100dvh; */
  color: #fff;
  font-size: 14px;
}


/* error stylings */

.form-error{
  color: red;
  font-size: 10px;
}

.form-success{
color: green;
  font-size: 10px;
}